<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Editar Movie</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" name="title" type="text" [(ngModel)]="movieEditada!.title"
          placeholder="{{movieEditada!.title}}">
      </div>

      <div class="form-group">
        <label for="year">Year</label>
        <input class="form-control" id="year" name="year" type="number" min="1900" max="2030"
          [(ngModel)]="movieEditada!.year" placeholder="{{movieEditada!.year}}">
      </div>

      <div class="form-group">
        <label for="synopsis">Synopsis</label>
        <textarea class="form-control" id="synopsis" name="synopsis" type="text" [(ngModel)]="movieEditada!.synopsis"
          placeholder="{{movieEditada!.synopsis}}" rows="4"></textarea>
      </div>

      <div class="form-group">
        <label for="cover">Cover (url)</label>
        <input class="form-control" id="cover" name="cover" type="text" [(ngModel)]="movieEditada!.cover">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="modal.close(movieEditada)">Save</button>
</div>
